<!DOCTYPE html>
<html ng-app="calcApp">
  <head>
    <title>Calculator</title>
	  <script
			  src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

	  <script
			  src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
	  <link rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	  <link rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	  <script
			  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	  <script src="/angularjs/controller.js"></script>

  </head>
  <body  ng-controller="calcController">
    <h1>Calculator</h1>
    <p></p>
<br>
	<span>Enter Number 1=</span>&nbsp;<input class="inputStyle" type="" class="form-control" name="Value1" ng-model="val1" placeholder="" required></br>
	<br><span>Enter Number 2=</span>&nbsp;<input class="inputStyle" type="" class="form-control" name="Value2" ng-model="val2" placeholder="" required></br>
	<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span ng-model="ans">{{ans}}</span></br><br>

	<button class="btn btn-success" data-value="add" ng-click="calculate($event);" value="add">ADD</button>
	<button class="btn btn-success" data-value="sub" ng-click="calculate($event);" value="sub">SUB</button>
	<button class="btn btn-success" data-value="mul" ng-click="calculate($event);" value="mul">MUL</button>
	<button class="btn btn-success" data-value="div" ng-click="calculate($event);" value="div">DIV</button>
  </body>
</html>