<!DOCTYPE html>
<html lang="en" ng-app="productsApp" ng-controller="productsCtrl">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:500,300,700,400italic,400' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/mystyles.css">
    <script src="/javascripts/angular.min.js"></script>
    <script src="/angular/product.js"></script>

</head>
<body ng-init="loadProducts();" style="background-color:#ededed ;">
<div ng-include="'header/header.ejs'"></div>
<div class="container">
    <div class="gap"></div>
<div class="col-md-4" style="padding-bottom: 20px" ng-repeat="product in products">
    <div class="product" >
        <ul class="product-labels"></ul>
        <a class="product-link" href="/productDetails?productID={{product.product_id}}" ></a>
        <div class="product-caption">
            <h5 align="left" class="product-accessory-price">{{product.product_name}}</h5>
            <img align="right" src="/images/product-2.png" height="55%" width="55%"><br><br>
            <div class="product-caption-price"><span class="product-caption-price-new">Price : {{product.price}} $</span>
            </div>
            <div class="product-page-desc" ng-show="{{product.quantity==0}}">Out Of Stock</div>
            <div class="product-page-desc" ng-show="{{product.isBidProduct==1}}">Availalble for Bid</div>
            <div class="product-page-desc" ng-show="{{product.isBidProduct==0}}">Availalble for Direct Buy</div>
            <ul class="product-caption-feature-list">
                <li>Free Shipping</li>
            </ul>
        </div>
    </div>
</div>
</div>
</body>
</html>